<div class="box">
	<div class="h_title">&#8250; Clases</div>
	<ul id="home">
		<li class="b1"><a class="icon page" href="/admin">Mostrar todas</a></li>
		<li class="b2"><a class="icon add_page" href="/admin/add/clase">Agregar</a></li>
	</ul>
</div>
<!--
<div class="box">
	<div class="h_title">&#8250; Usuarios</div>
	<ul>
		<li class="b1"><a class="icon users" href="">Mostrar todos</a></li>
		<li class="b2"><a class="icon add_user" href="">Agregar usuario</a></li>
	</ul>
</div>
<div class="box">
	<div class="h_title">&#8250; Settings</div>
	<ul>
		<li class="b1"><a class="icon config" href="">Site configuration</a></li>
		<li class="b2"><a class="icon contact" href="">Contact Form</a></li>
	</ul>
</div>-->