@font-face {
    font-family: 'inlovebold';
    src: url('inlove_bold-webfont.eot');
    src: url('inlove_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('inlove_bold-webfont.woff') format('woff'),
         url('inlove_bold-webfont.ttf') format('truetype'),
         url('inlove_bold-webfont.svg#inlovebold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'inlovelight';
    src: url('inlove_light-webfont.eot');
    src: url('inlove_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('inlove_light-webfont.woff') format('woff'),
         url('inlove_light-webfont.ttf') format('truetype'),
         url('inlove_light-webfont.svg#inlovelight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'mission_scriptregular';
    src: url('mission-script-webfont.eot');
    src: url('mission-script-webfont.eot?#iefix') format('embedded-opentype'),
         url('mission-script-webfont.woff') format('woff'),
         url('mission-script-webfont.ttf') format('truetype'),
         url('mission-script-webfont.svg#mission_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;

}