/*
 * · Index
 *	01 - Misc
 *	02 - Header
 *	03 - Home
 */


/*-------------------------------------------------------------------*/
/* 01. Misc															 */
/*-------------------------------------------------------------------*/
.uppercase { text-transform: uppercase; }
.lowercase { text-transform: lowercase; }
.capitalize { text-transform: capitalize; }
.font-inlovebold { font-family: 'inlovebold'; }
.font-inlovelight { font-family: 'inlovelight'; }


body { height: 100%; width: 100%; background: #2F2C33;}


/*-------------------------------------------------------------------*/
/* 02. Header														 */
/*-------------------------------------------------------------------*/
header {
	background: url(../images/logo.svg) no-repeat;
	height: 290px;
	background-size: 240px;
	background-position: 8px 20px;
	display:none;
}

header nav { float: left; margin-left: 240px; }

#menu { -webkit-user-select: none; }
#menu li { 
	cursor: pointer; 
	font: 1.4em 'inlovebold';
	color: #f1f1f2;
	text-align: center;
	float: left;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6); 
	height: 280px; 
	margin-left: 30px;
	list-style: none;
}

#menu li a {
	text-decoration: none;
	color: #FFF;
}
#menu li span { display: inline-block; }

header nav ul li:nth-child(1) {
	width: 140px;
	background: url(../images/menu-1.png) no-repeat;
}

header nav ul li:nth-child(1) span:first-child {
	margin-top: 215px;
}

header nav ul li:nth-child(2) {
	width: 168px;
	background: url(../images/menu-2.png) no-repeat;
}

header nav ul li:nth-child(2) span:first-child {
	margin-top: 210px;
	-webkit-transform: rotate(4deg);
}

header nav ul li:nth-child(3) {
	width: 162px;
	background: url(../images/menu-3.png) no-repeat;
	
}

header nav ul li:nth-child(3) span { -webkit-transform: rotate(-1deg); }
header nav ul li:nth-child(3) span:first-child { margin-top: 190px; }



header nav ul li:nth-child(4) {
	width: 141px;
	background: url(../images/menu-4.png) no-repeat;
	
}

header nav ul li:nth-child(4) span:first-child { margin-top: 190px; }

header nav ul li:nth-child(5) {
	width: 216px;
	background: url(../images/menu-5.png) no-repeat;
	
}

header nav ul li:nth-child(5) span:first-child { margin-top: 240px; -webkit-transform: rotate(2deg); }

@media (min-width: 1200px) {
	header {
		display:block;
	}
	div.navbar {
		display:none;
	}
	body {
		padding-top:0px;
	}
}


@media (max-width: 1200px) {
	.navbar-inverse {
		margin-top:0;
	}
	body {
		padding-top:70px;
	}
}


/*-------------------------------------------------------------------*/
/* 03. Home															 */
/*-------------------------------------------------------------------*/
#last-program div.info { float: right; padding: 0 12px 12px 0; }
#last-program div.info p.title { font: 1.4em 'inlovelight'; color: white; }
#last-program div.info p.title::before { content: '>'; display: inline; color: #FF00CC; font: 1em 'inlovebold'; margin-right: 4px; }
#last-program div.info p.title span { font: 1em 'inlovebold'; color: #FF6666; }
#last-program div.info p.season { font: 1.2em 'inlovelight'; color: #FF00CC; text-transform: uppercase; float: right;}
#last-program div.info p.season span {letter-spacing: 2px; font-family: 'inlovebold'; }
#last-program div.info a.listen { font: 1.2em 'inlovelight'; color: #00FFFF; text-transform: uppercase; float: right; clear: both; text-decoration: none; }


/* Carousel Styles */
.carousel-inner img {
    width: 100%;
    max-height: 320px
}

.carousel-control {
    width: 0;
}

.carousel-control.left,
.carousel-control.right {
	opacity: 1;
	filter: alpha(opacity=100);
	background-image: none;
	background-repeat: no-repeat;
	text-shadow: none;
}

.carousel-control.left span {
	padding: 15px;
}

.carousel-control.right span {
	padding: 15px;
}

.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right, 
.carousel-control .icon-prev, 
.carousel-control .icon-next {
	position: absolute;
	top: 45%;
	z-index: 5;
	display: inline-block;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
	left: 0;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
	right: 0;
}

.carousel-control.left span,
.carousel-control.right span {
	background-color: #000;
}

.carousel-control.left span:hover,
.carousel-control.right span:hover {
	opacity: .7;
	filter: alpha(opacity=70);
}

/* Carousel Header Styles */
.header-text {
    position: absolute;
    top: 20%;
    left: 0%;
    right: auto;
    width: 96.66666666666666%;
    color: #fff;
}

.header-text span.remark::before { content: '*'; font: 1em/2.2em 'inlovebold'; color: #00FFFF; padding: 0 6px; }
.header-text span.remark { font: 1.6em/2 'mission_scriptregular'; color: #FF6666; padding: 0 8px;  margin-top: 20px; position: absolute; background: rgba(0,0,0,.6);}

/* Carousel indicators */
.carousel-indicators { float: right; padding: 10px; }

.carousel-indicators li {
width: 16px; height: 16px; display: inline-block; cursor: pointer; border: 2px solid;
}
.carousel-indicators .active,.carousel-indicators li:hover {
border-color: #FFD600 !important;
}

.carousel-indicators li:nth-child(1){ background: #66CCFF; border-color: #66CCFF;  }
.carousel-indicators li:nth-child(2){ background: #FF00CC; border-color: #FF00CC;  }
.carousel-indicators li:nth-child(3){ background: #FF6666; border-color: #FF6666;  }
.carousel-indicators li:nth-child(4){ background: #00FFFF; border-color: #00FFFF;  }
.carousel-indicators li:nth-child(5){ background: #663333; border-color: #663333;  }
.carousel-indicators li:nth-child(6){ background: #453D4F; border-color: #453D4F;  }
.carousel-indicators li:nth-child(7){ background: #FFFFFF; border-color: #FFFFFF;  }


/*-------------------------------------------------------------------*/
/* 04. De donde salimos												 */
/*-------------------------------------------------------------------*/
#whoweare {
	margin-top:70px;
}

#whoweare p { 
	color: #FFF;
	font: 1em/1.4 'inlovelight'; 
	letter-spacing: 1px;
	text-align:justify;
}

#whoweare span.asterisc {
	font: 2em/1 'inlovebold';
	color: #FF00CC;
}


/*-------------------------------------------------------------------*/
/* 																	 */
/*-------------------------------------------------------------------*/
#sections div.preamble { width: 260px; padding-left: 18px; float: left; }
#sections div.preamble h1 { font: 2em/1 'mission_scriptregular'; color: #F77661; }
#sections div.preamble p { font: 1.1em/1.3 'inlovelight'; color: #F1F1F1; }

#sections ul.category {
	width: 120px;
	float: left;
	margin: 10px 0 0 30px;
}
#sections ul.category li {
	height: 54px;
	text-transform: uppercase;
	border: 4px solid;
	padding-left: 16px;
	border-radius: 12px;
	font: 1.4em/2.8 'inlovebold';
	margin: 14px 0;
	width: 220px;
}
#sections ul.category li:hover { cursor: pointer; }

#sections ul.category li:first-child {
	margin-top: 0;
}

/*
#sections ul.category li.active::after {
	content: '';
	display: inline-block;
	margin-left: 140px;

	border-left: 13px solid #F612C7;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
}*/

#sections ul.program { 
	border: 3px solid;
	border-radius: 6px;
	display: inline-block;
	float: left;
	margin-left: 170px; font: .9em/2 'inlovelight'; 
}

#sections ul.program li { margin: 2px 18px 0 18px; padding: 0 40px 0 0px; }
#sections ul.program li:first-child { margin-top: 10px; }
#sections ul.program li:last-child { margin-bottom: 10px; }


#sections ul.program li:hover,
#sections ul.program li:hover::before,
#sections ul.program li.active,
#sections ul.program li.active::before {
	color: #333;
	cursor: pointer;
	background: #F612C7;
}

#sections ul.program li::before {
	content: '\25CF';
	font-size: .4em;
	display: inline-block;
	margin: 8px 10px;
	color: #F612C7;
	float: left;
}


/***/
#sections ul#program-literatura li:hover,
#sections ul#program-literatura li:hover::before,
#sections ul#program-literatura li.active,
#sections ul#program-literatura li.active::before {
	color: #333;
	background: #7ED9F6;
}

#sections ul#program-literatura li::before {
	color: #7ED9F6;
}


#sections #program-literatura {
	border-color: #7ED9F6;
	color: #7ED9F6;
}

#sections ul.category li:nth-child(1) { color: #F612C7; border-color: #F612C7; }
#sections ul.category li:nth-child(2) { color: #7ED9F6; border-color: #7ED9F6; }
#sections ul.category li:nth-child(3) { color: #FA7964; border-color: #FA7964; }
#sections ul.category li:nth-child(4) { color: #763C48; border-color: #763C48; }
#sections ul.category li:nth-child(5) { color: #05FEFA; border-color: #05FEFA; }
#sections ul.category li:nth-child(6) { color: #F1F1F1; border-color: #F1F1F1; }


#sections ul.category li:nth-child(1):hover, 
#sections ul.category li:nth-child(1).active { color: #333; background: #F612C7; }
#sections ul.category li:nth-child(2):hover, 
#sections ul.category li:nth-child(2).active { color: #333; background: #7ED9F6; }
#sections ul.category li:nth-child(3):hover, 
#sections ul.category li:nth-child(3).active { color: #333; background: #FA7964; }
#sections ul.category li:nth-child(4):hover, 
#sections ul.category li:nth-child(4).active { color: #333; background: #763C48; }
#sections ul.category li:nth-child(5):hover, 
#sections ul.category li:nth-child(5).active { color: #333; background: #05FEFA; }
#sections ul.category li:nth-child(6):hover, 
#sections ul.category li:nth-child(6).active { color: #333; background: #F1F1F1; }


#sections ul.program { color: #F612C7; border-color: #F612C7; display: none; }


#sections div.selected-program {
	background: #F1F1F1;
	float: left;
	width: 220px;
	margin: 10px 0 0 30px;
	padding: 26px;
	color: #313131;
	display: none;
}

#sections div.selected-program::before {
	content: '*';
	font: 4em/2 'inlovebold';
	color: #F612C7;
	float: right;
	margin-top: -45px;
	display: inline;
}

#sections div.selected-program h1 {
	font: 1em/2 'inlovebold';
	text-transform: uppercase;
}

#sections div.selected-program p {
	font: .9em/2 'inlovelight';
}

#sections div.selected-program a {
	color: #F612C7;
	font: 1em/2 'inlovebold';
	text-decoration: none;
	float: left;
	margin-top: 10px;
}

#sections div.selected-program a:last-child {
	float: right;
}




/*-------------------------------------------------------------------*/
/* 																	 */
/*-------------------------------------------------------------------*/
#old-programs { margin-top: 14px; }
#old-programs div.preamble { width: 260px; padding-left: 18px; float: left; }
#old-programs div.preamble h1 { font: 2em/1 'mission_scriptregular'; color: #F77661; }
#old-programs div.preamble p { font: 1.1em/1.3 'inlovelight'; color: #F1F1F1; }

#old-programs div.program-list {
	float: left;
	margin-left: 30px;
}

#old-programs div.program-list ul.season-list li {
	width: 120px;
	border: 4px solid #F00;
	border-radius: 8px;
	display: inline-block;
	font: 1.8em/1 'inlovebold';
	text-transform: uppercase;
	text-align: center;
	padding: 30px 15px;
	margin-left: 24px;
	cursor: pointer;
}

#old-programs div.program-list ul.season-list li:nth-child(1) { color: #F612C7; border-color: #F612C7; }
#old-programs div.program-list ul.season-list li:nth-child(2) { color: #7ED9F6; border-color: #7ED9F6; }
#old-programs div.program-list ul.season-list li:nth-child(3) { color: #FA7964; border-color: #FA7964; }
#old-programs div.program-list ul.season-list li:nth-child(4) { color: #763C48; border-color: #763C48; }
#old-programs div.program-list ul.season-list li:nth-child(5) { color: #05FEFA; border-color: #05FEFA; }
#old-programs div.program-list ul.season-list li:nth-child(6) { color: #F1F1F1; border-color: #F1F1F1; }

/*
 *  TODO: In the future use the any selector. 
  * #old-programs ul.season li:nth-child(1):-webkit-any(:hover, .active)
 */
#old-programs div.program-list ul.season-list li:nth-child(1):hover,
#old-programs div.program-list ul.season-list li:nth-child(1).active { color: #333; background: #F612C7; }
#old-programs div.program-list ul.season-list li:nth-child(2):hover,
#old-programs div.program-list ul.season-list li:nth-child(2).active { color: #333; background: #7ED9F6; }
#old-programs div.program-list ul.season-list li:nth-child(3):hover,
#old-programs div.program-list ul.season-list li:nth-child(3).active { color: #333; background: #FA7964; }
#old-programs div.program-list ul.season-list li:nth-child(4):hover,
#old-programs div.program-list ul.season-list li:nth-child(4).active { color: #333; background: #763C48; }
#old-programs div.program-list ul.season-list li:nth-child(5):hover,
#old-programs div.program-list ul.season-list li:nth-child(5).active { color: #333; background: #05FEFA; }
#old-programs div.program-list ul.season-list li:nth-child(6):hover,
#old-programs div.program-list ul.season-list li:nth-child(6).active { color: #333; background: #F1F1F1; }


#old-programs div.selected-season-programs {
	border: 3px solid #F612C7;
	color: #F612C7;
	float: left;
	font: .9em/2 'inlovelight';
	width: 100%;
	height: 300px;
	padding: 8px;
	margin-top: 10px;
}

#old-programs div.selected-season-programs div {
	/*display: list-item;*/
	/*float: left;
	width: 360px;*/
}


/*#old-programs ol.selected-season-programs li:nth-child(n+12) { float: right; width: 260px; }*/


/*-------------------------------------------------------------------*/
/* ??. Glosario														 */
/*-------------------------------------------------------------------*/
#glosary { width: 700px; margin: 0 auto; }
#glosary ul.alphabet { color: #FFF; font: 1.6em/1 'inlovebold'; }

#glosary ul.alphabet li { border: 3px solid #FFF; border-radius: 4px; cursor: pointer; padding: 4px 0; margin: 6px 3px; display: inline-block; text-align: center; width: 36px; }
#glosary ul.alphabet li.active { color: #12F9F3; border-color: #12F9F3; }

#glosary ul.category { width: 240px; }
#glosary ul.category li { color: #12F9F3; font: 1em/1.4 'inlovebold'; padding: 6px 12px; cursor: pointer; border: 3px solid #12F9F3; border-radius: 8px; margin-top: 8px; }
#glosary ul.category li.active { color: #333; background: #12F9F3; }

/*-------------------------------------------------------------------*/
/* ??. Novedades													 */
/*-------------------------------------------------------------------*/
#news { margin-top:60px;}
#news h1 { font: 2.5em/1 'inlovebold'; color: #F612C7; text-transform: uppercase;}

#news ul.news-list { margin: 0 auto; }
#news ul.news-list li { border-bottom: 1px dashed #F1F1F1; margin-top: 10px; }
#news ul.news-list li:first-child { margin-top: 0; }
#news ul.news-list li div.title span.month { color: #12F9F3; border: 3px solid #12F9F3; border-radius: 6px; font: 1em/1.4 'inlovebold'; text-transform: uppercase; padding: 6px 8px; display: inline-block; min-width: 100px;}
#news ul.news-list li div.title h1 { color: #12F9F3; font: 1.4em/1.8 'inlovebold'; text-transform: uppercase; display: inline-block; margin-left: 16px; }

#news ul.news-list li div.content { margin: 10px 0; }
#news ul.news-list li div.content span.date { color: #F612C7; display: inline-block; float: left; margin: 2px 6px 0 0; font-size: .9em; }
#news ul.news-list li div.content p { color: white; font: 1em/1 'inlovelight'; letter-spacing: 1px;}
/*#news ul.news-list li div.content p::after { content: '\2026'; display: inline-block; }*/

#news button.links-button {
	color: #333;
	background: #7AD8F2;
	width: 80px;
	height: 80px;
	float: right;
	border: 0;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	cursor: pointer;
}

#news button.links-button::before {
	content: '+';
	display: inline-block;
	font: 7em/1 'inlovebold';
	margin-top: -12px;

}


/*#news button.links-button:hover > * { visibility: visible; }*/
#news button.links-button:hover { width: 190px; }

#news button.links-button span {
	font: 2.3em/90px 'inlovebold';
	text-transform: uppercase;
	display: inline-block;
	margin: 0 10px;
	float: right;
	/*visibility: hidden;*/
}

#news ul.news-list li div.content a.read-more {
	width: 12px;
	height: 12px;
	color: #333;
	background: #F612C7;
	font: 1em/12px 'inlovebold';
	text-align: center;
	display: inline-block;
	margin-left: 4px;
	text-decoration: none;
}

/*-------------------------------------------------------------------*/
/* 																	 */
/*-------------------------------------------------------------------*/
#program div.preamble { width: 260px; padding-left: 18px; float: left; }
#program div.preamble h1 { font: 2em/1 'mission_scriptregular'; color: #F77661; }
#program div.preamble p { font: 1.1em/1.3 'inlovelight'; color: #F1F1F1; }

#program div.info { float: right; padding: 0 12px 12px 0; }
#program div.info p.title { font: 1.4em 'inlovelight'; color: white; }
#program div.info p.title::before { content: '>'; display: inline; color: #DA29BF; font: 1em 'inlovebold'; margin-right: 4px; }
#program div.info p.title span { font: 1em 'inlovebold'; color: #EB8770; }
#program div.info p.season { font: 1.2em 'inlovelight'; color: #DA29BF; text-transform: uppercase; float: right;}
#program div.info p.season span {letter-spacing: 2px; font-family: 'inlovebold'; }


/**/
#program div.player { float: left; -webkit-user-select:none; margin-top: 330px;
margin-left: 100px; }

#player-playstop { display: none; }
#player-playstop + label {
	display: inline-block;
   	cursor: pointer;
   	float: left;
}
#player-playstop:not(:checked) + label {
	width: 0px;
   	height: 0px;
   	border-left: 26px solid white;
   	border-top: 14px solid transparent;
   	border-bottom: 14px solid transparent;
}

#player-playstop:checked + label {
	border-left: 9px solid #FFF;
	border-right: 9px solid #FFF;
	width: 26px;
	height: 28px;
}

/**/
#player-playstop:not(:checked) + label:hover { border-left-color: #D5DB2F; }
#player-playstop:checked + label:hover { border-left-color: #D5DB2F; border-right-color: #D5DB2F;  }
/**/


#player-timeline {
	background: #A4A2A7;
	/*
	background-image: linear-gradient(left , #D5DB2F 50%, #A4A2A7 50%);
	background-image: -o-linear-gradient(left , #D5DB2F 50%, #A4A2A7 50%);
	background-image: -moz-linear-gradient(left , #D5DB2F 50%, #A4A2A7 50%);
	background-image: -webkit-linear-gradient(left , #D5DB2F 50%, #A4A2A7 50%);
	background-image: -ms-linear-gradient(left , #D5DB2F 50%, #A4A2A7 50%);
*/
	/*background-image: -webkit-gradient(linear, left bottom, right bottom, color-stop(0.5, #D5DB2F), color-stop(0.5, #A4A2A7));*/

	width: 500px;
	height: 12px;
	float: left;
	margin: 16px 0 0 20px;
	cursor: pointer;
}

#player-timeline li {
	width: 16px;
	height: 16px;
	border-radius: 8px;
	background: #F27A58;
	margin-top: -2px;
	/*margin-left: 40px;*/
	cursor: pointer;
	float: left;
}

#player-timeline li span.mark-title {
	color: #312C33;
	font: 3em 'inlovebold';
	text-transform: uppercase;
	text-shadow: -1px -1px 0 #F27A58, 1px -1px 0 #F27A58, -1px 1px 0 #F27A58, 1px 1px 0 #F27A58;

	position: absolute;
	margin-top: -180px;
	display: none;
}

#player-timeline li span.mark-time {
	color: #45D1C4;
	font: 1em 'inlovebold';
	text-transform: uppercase;

	position: absolute;
	margin-top: -130px;
	margin-left: 80px;
	display: none;
}


#player-timeline li div.mark-line {
	position: absolute;
	margin-top: -110px;
	width: 2px;
	height: 100px;
	background: #F27A58;
	margin-left: 6px;
	display: none;
}

#player-timeline li div.mark-line::before {
	content: '';
	width: 0;
	height: 0;
	border-bottom: 17px solid #F27A58;
	border-left: 10px solid rgba(0, 0, 0, 0);
	border-right: 10px solid rgba(0, 0, 0, 0);
	position: absolute;
	margin-left: -8px;
	margin-top: -16px;
}

#player-timeline li:hover > *,
#player-timeline li.active > * { display: block !important; }


#player-vol-container { float: left; display: inline-block; margin: -8px 0 0 20px; }

#player-vol-container input { display: none; }




#player-vol-container label { width: 0px; border-left: 4px solid #D5DB2F; border-right: 4px solid #D5DB2F; display: inline-block; margin-left: 1px; cursor: pointer; }
#player-vol-container label:nth-of-type(1) { height: 12px; }
#player-vol-container label:nth-of-type(2) { height: 18px; }
#player-vol-container label:nth-of-type(3) { height: 24px; }
#player-vol-container label:nth-of-type(4) { height: 30px; }
#player-vol-container label:nth-of-type(5) { height: 36px; }

/*
#player-vol-container input[type="radio"]:checked + label {
	border-color: white;
}*/

#player-vol-container input[type="radio"]:nth-of-type(1):checked ~ label,
#player-vol-container input[type="radio"]:nth-of-type(2):checked ~ label:nth-of-type(n+2), 
#player-vol-container input[type="radio"]:nth-of-type(3):checked ~ label:nth-of-type(n+3),
#player-vol-container input[type="radio"]:nth-of-type(4):checked ~ label:nth-of-type(n+4),
#player-vol-container input[type="radio"]:nth-of-type(5):checked ~ label:nth-of-type(n+5) {
	border-color: white;
}




/***/


/*
#player-vol-container span { width: 0px; border-left: 4px solid #D5DB2F; border-right: 4px solid #D5DB2F; display: inline-block; margin-left: 1px; cursor: pointer; }

#player-vol-container span:nth-child(1) { height: 12px; }
#player-vol-container span:nth-child(2) { height: 18px; }
#player-vol-container span:nth-child(3) { height: 24px; }
#player-vol-container span:nth-child(4) { height: 30px; }
#player-vol-container span:nth-child(5) { height: 36px; }
*/




/*
#player-timeline li:hover span.mark-title,
#player-timeline li:hover span.mark-time,
#player-timeline li:hover span.mark-line,
#player-timeline li:hover span.mark-line::before { display: block; }*/











/*-------------------------------------------------------------------*/
/* ??. Footer														 */
/*-------------------------------------------------------------------*/
footer { height: 60px; }
footer span.radio-info {color: white; font: 1em 'inlovelight'; float: right; margin: 40px 20px 10px; letter-spacing: 2px;}


